$def with (filelist)
$var title: Blog
$var description: Geek stuff, Linux command line tips and whatnot

$for i in filelist:
    <div class="entry">
    <div class="title-list"><a href="$i['url']/">$i['title']</a></div>
    <span class="date">$i['date']</span>
    <!--<span class="comment-count"><a href="$i['url']#disqus_thread"></a></span>-->
    </div>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'aspargusblog'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>

