@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #f2f2f2;
  color: #191919;
  font: 16px/1.35 "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}


.container {
  display: block;
  margin: 0 auto;
  width: 900px;
}

.centered {
  background: #f9f9f9;
  display: block;
  margin: 10px auto;
  padding: 10px;
  max-width: 600px;
}

#header {
  margin: 0 0 10px 0;
  display: table:
  margin: 0 auto;
  max-width: 600px;
}

#comments {
  margin: 50px 0 0 0;
}

.comment-count {
  float: right;
}

hr {
  margin-top: 50px;
  border: 0 none;
  height: 3px;
  background-image: url(/static/hr.png);
  background-repeat: no-repeat;
  background-position: center 0;
}

.label {
}

input {
  width: 300px;
}

#imagebox {}

#choose {
}

.button {
  padding: 10px;
  margin-top: 20px;
}

.entry {
  margin: 0 0 10px 0;
}

.title-list {
  /*font-size: 1.6em;*/
  margin 0;
  padding: 0;
  text-align: left;
}

.date {
  padding 0 0 10px 0;
  margin 0 0 10px 0;
  font-size: 0.85em;
  font-style: italic;
}

.title {
  font-size: 2em;
  font-weight: bold;
}

h1 {
  font-size: 1.6em;
  margin: 35px 0 0 0;
}

h2 {
  font-size: 1.2em;
  margin: 20px 0 0 0;
}

h3 {
  font-size: 1.05em;
  margin: 10px 0 0 0;
}

ul {
  list-style-type: circle;
  padding: 0;
  margin: 0 0 0 25px;
}

li {
  padding: 0;
  margin: 0;
}

.firstparagraph {
  font-size: 1.2em;
}

em {
  font-style: italic;
}

.header {
  text-decoration: none;
}

.smallprint {
  margin: 0;
  padding: 0;
  font-style: italic;
  font-size: 0.8em;
}

#privacy {
  margin: 10 0 0 0;
  padding: 0;
  font-size: 0.9em;
}

pre, code {
  /*font-family: "Lucida Console", Monaco, monospace;*/
  font-family:Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 0.85em;
  margin: 0;
  padding: 0 5px 0 5px;
  color: #ffffff;
  background: #2e2e2e;
}

a {
  color: black;
}

a:hover {
  color: gray;
}

.share {
  max-width: 100%;
  max-height: 100%;
}

#footer {
  margin-top: 50px;
}

